body {
    background-color: rgb(210, 254, 200);
}

.header-container {
    display: flex;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.logo img {
    max-height: 80px;
    width: auto;
    margin-right: 0px;
}
.nav {
    font-family: 'Dishcek', sans-serif;
    font-size: 25px;
}

.datetime {
    margin-left: auto; 
    margin-right: 20px; 
    text-align: right; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.sidebar {
    height: 100vh;
    width: 60px;
    position: fixed;
    top: 85px;
    left: 0;
    background-color: white;
    padding-top: 20px;
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
}

.sidebar a {
    display: block;
    text-align: center;
    padding: 25px 0;
    text-decoration: none;
    color: black;
}

.sidebar a img {
    width: 40px;
    height: auto;
    transition: transform 0.3s;
}

.sidebar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: width 0.3s;
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
}

.sidebar a:hover::after {
    width: 50%;
}

.tooltip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color:  rgba(91, 166, 82, 0.5);
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 15px;
    position: absolute;
    left: 60px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.logout {
    margin-top: 105px;
    text-align: center;
}

.logout a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    position: relative;
}

.logout a img {
    width: 40px;
    height: auto;
}

.confirmation {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255,255,255, 0.9);
    padding-top: 520px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    z-index: 1000;
}

.confirmation p {
    margin-bottom: 10px;
}

.confirmation button {
    margin: 15px 10px;
    padding: 8px 16px;
    font-size: 25px;
    color: #ffffff;
    background-color: #51bb39; 
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.confirmation button:hover {
    background-color: #85df85; 
}

.container {
    width: 80%;
    padding: 5px;
    margin-top: 100px;
    margin-left: 150px;
}

.title {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 450px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.section .personal {
    flex: 1;
    min-width: 400px;
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section .personal h2 {
    background-color: bisque;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.section .personal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.section .personal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.personal .details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.personal .details-grid .left, .personal .details-grid .right {
    display: flex;
    flex-direction: column;
}

.section .appointment {
    flex: 1;
    min-width: 300px;
    height: 50%;
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section .appointment h2 {
    background-color: bisque;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
}
.section .appointment label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.section .appointment input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section .referral {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section .referral h2 {
    background-color: bisque;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.section .referral p {
    text-align: center;
}

.section .referral label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.section .referral input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: bisque;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
}

.buttons button:hover{
    background-color: rgb(213, 164, 105); 
}