body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #73c363;
}

#LOGO {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#LOGO img {
    width: 20%;
    height: auto;
    margin: 0px;
}

.NAME {
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: Dishcek, sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.BUTTONS {
    margin-top: 50px;
    display: flex;
    justify-content: center;  
    align-items: center;             
    flex-direction: column;   
}

.ADMIN {
    background-color: white; 
    border: none;           
    color: #4CAF50;           
    padding: 15px 32px;   
    text-align: center;     
    text-decoration: none;   
    display: inline-block;   
    font-size: 16px;         
    margin: 4px 2px;         
    cursor: pointer;         
    border-radius: 30px;     
    width: 200px
}

.ADMIN:hover {
    background-color: lightgrey;
}

.PATIENT {
    background-color: transparent;
    border: white 2px solid;            
    color: #ffffff;            
    padding: 15px 32px;      
    text-align: center;    
    text-decoration: none;  
    display: inline-block;   
    font-size: 16px;         
    margin: 4px 2px;         
    cursor: pointer;         
    border-radius: 30px;   
    width: 200px;   
}

.PATIENT:hover {
    background-color: lightgrey; 

}